.button {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: all 120ms ease-in-out;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--foreground-color-dark);
    

    &:hover {
        background-color: var(--primary-color-hover);
    }
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--foreground-color-dark);

    &:hover {
        background-color: var(--secondary-color-hover);
    }
}

.button-tertiary {
    background-color: var(--tertiary-color);
    color: var(--foreground-color-dark);

    &:hover {
        background-color: var(--tertiary-color-hover);
    }
}

.button-outline {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--foreground-color);

    &:hover {
        border: 1px solid var(--border-color-hover);
    }
}

.button-flashy {
    
}