@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem) !important;

  .nav-link {
    display: flex;
    flex: 1 1 0;
    text-decoration: none;

    button {
      flex: 1 1 0;
    }
  }

  .professional-photo {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }
}