.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid var(--border-color);
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/

    &.interactive {
        transition: all 120ms ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }
    }
}