.persona-button {
    background-color: transparent;
    position: relative;
    border: none;
    font-family: sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;

    

    span {
        mix-blend-mode: hard-light;
        color: black;        

        font-family: 'Earwig', sans-serif;
    }

    &.persona-button-left {
        transform: rotate(-4deg);

        &:hover {
            transform: rotate(4deg) scale(1.2);
        }
    }

    &.persona-button-right {
        transform: rotate(4deg);

        &:hover {
            transform: rotate(-4deg) scale(1.2);
        }
    }

    .shape-wrapper {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        filter: sepia(50%) saturate(3);

        .shape {
            transition: all .1s linear;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            overflow: hidden;

            svg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            &.cyan-fill {
                mix-blend-mode: screen;
                animation-delay: 0.04s;
                animation-duration: .4s;
            }

            &.red-fill {
                opacity: .8;
                animation-delay: 0.08s;
                animation-duration: .45s;
            }
        }
    }


    &:hover {
        .shape-wrapper {
            display: flex;
            transform: rotate(-10deg);

            .shape.cyan-fill {
                transform: scale(3, .2);
            }
        }
    }


}

.jelly {
    -webkit-animation-name: jelly;
            animation-name: jelly;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
  
@keyframes jelly {
    0% {
        transform: scale(1.25,1) 
                skewX(20deg) 
                translateY(3px) 
                rotateX(40deg) 
                rotateY(10deg) 
                rotateZ(-10deg);
    }
    50% { 
        transform: scale(1.25,1.1) 
                skewX(-15deg) 
                translateY(-2px) 
                translateZ(-30px); 
    }
    100% { 
        transform: scale(1.25,1) 
                skewX(20deg) 
                translateY(3px) 
                rotateX(-40deg) 
                rotateY(-10deg) 
                rotateZ(-15deg); 
    }
}